

.window-add-task {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-between;
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;

  /* flex-direction: column; */
  width: 300px;
  /* align-items: flex-end; */
  box-shadow: -20px 20px 40px 0px rgba(248, 204, 255, 0.73);
  background: linear-gradient(210deg, #2aaae6, #a899e7)
}
.window-add-task-content {
display: flex;
justify-content: space-between;
}

.window-add-task-content__input {
  width: 250px;
  height: 25px;
  background: rgb(208, 238, 252);
  border-radius: 10px;
  border: 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.window-add-task-content__input:hover{
  transform: scale(1.05);
}

.window-add-task-content__button {
  display: flex;
  /* position: relative; */
  /* justify-content: center; */
  align-items: end;
  margin-top: 2px;
  margin-left: 10px;
  border: 0.1rem solid rgba(37, 250, 239, 0.3);
  border-radius: 20px;
  background:  rgba(247, 245, 225, 0.3);
}
.window-add-task-content__button:hover {
   transform: scale(1.2);
}

.window-add-task-boxes{
  margin-top: 1rem;
}
.window-add-task__checkbox{
  border-radius: 2px;
}

#to-do{
  color:rgb(61, 121, 21);
  font-size: 1rem;
}

#doing{
  color:rgb(136, 96, 36);
}
#done{
  color:rgb(58, 55, 214);
}

