
.icon-of-change__default-button {
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
}

.icon-of-change__default-img{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.create-portal{

  position: fixed;
  width: 100vh;
  height: 100vh;
  /* overflow: hidden; */
  background: rgba(0, 0, 0, 0.356);
  top:0;
  left: 0;
  /* /* */
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 20px; */
  align-items: center;
}
.create-portal__position-window{
  /* margin-top: 100px; */
  /* justify-content: center; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}
.create-portal-window{
  /* margin-top: 50px; */
  /* position:absolute; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
 height: 200px;
 width: 400px;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: -20px 20px 40px 0px rgba(224, 165, 233, 0.73);
  background: linear-gradient(210deg, #2aaae6, rgb(216, 157, 228))
}
.create-portal-window-content{
  flex-wrap: wrap;
  display: flex;
  /* margin: 0.5rem; */
  justify-content: center;
  width: 250px;
/* justify-content: space-around; */

align-items:  center;
}

.icreate-portal-window__root{
    display: flex;
    margin-left: 10px;
  }


  .create-portal-window__icon{
      margin: 0.1rem;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
  }
  .create-portal-window__icon:hover {
  transform: scale(1.2);
}
  .create-portal-window__button{
   display: flex;
     margin: 0.1rem;
  border-radius: 50%;
border:none;
  padding: 0px;
}
.create-portal-window__button:hover{
  transform: scale(1.2);
}
/* ----------------------------------- Input name --------------------------- */


.create-portal-window__input-name{
  width: 200px;
  height: 25px;
  margin: 10px;
  background: rgb(208, 238, 252);
  border-radius: 10px;
  border: 0px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.create-portal-window__input-name:hover {
  transform: scale(1.05);
}
.create-portal-window__send-name{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(208, 238, 252);
  border-radius: 20px;
  background: rgb(116, 175, 202);
  width: 40px;
    height: 40px;
}

.create-portal-window__send-name:hover {
  transform: scale(1.1);
}
.create-portal-window__exit{
  display: flex;
  margin-left: 0.3rem;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(208, 238, 252);
  border-radius: 20px;
  background: rgb(116, 175, 202);
  width: 40px;
   height: 40px;
}

.create-portal-window__exit:hover {
  transform: scale(1.1);
}


.error-text{
  color: red;
}