.doing-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color:rgb(136, 96, 36);
   width: 24rem;
  margin: 1px;
  border-radius: 1rem;
  padding: 10px;
  flex-direction: column;
   box-shadow: -20px 20px 40px 0px rgba(248, 204, 255, 0.73);
  background: linear-gradient(210deg, #2aaae6, #a899e7)
}
.doing-wrapper__heading{
  display: flex;
  justify-content: center;
}

.doing-wrapper-tasks {
  font-size: 1rem;
  color:rgb(104, 73, 28);
  display: flex;
  flex-direction: column;
}
.doing-wrapper-tasks__content {
  display: flex;
  justify-content: space-between;
}


.doing-wrapper-tasks__text-container {
 display: flex;
  flex-direction: column;
  hyphens: auto;
  word-break: keep-all;
  margin: 0.5rem;
  max-width: 260px;
}
.doing-wrapper-tasks__buttons-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.doing-wrapper-tasks__date-icon-wrapper{
   display: flex;
  align-items: center;
}

.doing-wrapper-tasks__buttons-container-move{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}
.doing-wrapper-tasks__text {
  border-radius: 0.3rem;
  background: rgba(208, 238, 252, 0.74);
  padding: 3px;
  min-width: 120px ;
}
.doing-wrapper-tasks__text-date {
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
}
.doing-wrapper-tasks__icon {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.doing-wrapper-tasks__button-move {
   font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  border: none;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
  max-height: 25px;
  background: rgba(248, 245, 195, 0.3);
}
.doing-wrapper-tasks__button-move:hover{
  transform: scale(1.2)
}
.doing-wrapper-tasks__button-delete {
  border: 0px;
  margin-right: 12px;
  border-radius: 0.3rem;
  background: none;
  max-height: 25px;
}

.doing-wrapper-tasks__button-delete:hover {
  transform: scale(1.5);
}

.doing-wrapper-empty{
display: flex;
    font-size: 0.8rem;
    color: rgb(62, 118, 167);
    justify-content: center;
}